.break{
    flex-basis: 100%;
    height: 0;
}

footer.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8f368f;
    z-index: 9998;
    font-size: 20px;
    font-color: white;
}

div.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 27px;
}

p.footer{
    text-align: inherit; 
    font-size: inherit; 
    color: white; 
    text-align: left; 
    margin-left: 20px;
}

body{
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    
    background-size: 20px
}
p{
    font-size: 1.5rem;
}
h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 0.5rem 0rem;
}
blockquote{
    font-family: 'Homemade Apple', cursive;
    font-color: #e6e6e6;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
}
nav{
    display: flex;
    background-color: #8f368f;
    color: #8f368f;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    position: sticky;
    z-index: 9999;
    top: 0; 
    flex-wrap: wrap;
}

nav span.links{
    display: flex;
    flex: 1;
}

nav a{
    color: inherit;
    text-decoration: none;
    flex: 1;
    text-align: center;
}

nav .menu{
    display: none;
}

section{
    max-width: 800px;
    margin: 0px auto;
    height: auto;
    overflow: hidden;
    padding: 16px;
}

section>*{
    flex-wrap: wrap;
}

@media screen and (max-width: 900px){
    nav{
        height: 80px; 
    }
    nav img{
        height: 60px;
    }
    nav .menu{
        display: flex;
        align-items: center;
    }

    nav .links{
        display: none !important;
    }
    
    nav:focus-within .links{
        display: flex !important;
        background: #8f368fCC;
        backdrop-filter: blur(10px);
        position: absolute;
        z-index: 1000;
        top: 80px;
        left: 0; right: 0;
        flex-direction: column;
        align-items: stretch;
    }

    nav .links > * {
        display: block;
        padding: 16px;
        flex: 0;
        border-bottom: 1px solid
    }
}